<%- include("partials/header") %>

<div class="container text-dark notices mt-5">
    <div class="h1 text-center mb-5 font-weight-bold">ABOUT GLOBAL DICTIONARY</div>
    <div class="mt-4 mb-3"><a href="/" target="_blank">Global Dictionary</a> is a free digital dictionary for advanced learners of the English language. It has been created to provide millions of English definitions, spellings, audio pronunciations, example sentences, contextual usages, and relevant images all for free. It is an API-based dictionary powered by some of the best-known APIs available on the Internet, including:</div>
    <div class="mb-5 ml-5 ml-sm-0 ml-md-5 row">
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="https://www.wordsapi.com/" target="_blank"><img src="pictures/wordsapi.png", alt=""></a>
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="https://www.wordnik.com/" target="_blank"><img src="pictures/wordnik_badge2.png", alt=""></a>
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="https://www.linguarobot.io/" target="_blank"><img src="pictures/Lingua_Robot.png", alt=""></a>
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="https://www.twinword.com/" target="_blank"><img src="pictures/twinword.png", alt=""></a>
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="http://www.datamuse.com/api/" target="_blank"><img src="pictures/datamuse.png", alt=""></a>
        <a class="mr-3 ml-1 ml-sm-0 mt-4 col-sm-5 col-lg-3" href="https://unsplash.com/" target="_blank"><img src="pictures/Unsplash_Logo_Full.png", alt=""></a>
    </div>
    <div class="my-4"><a href="/" target="_blank">Global Dictionary</a> is unique in that we offer our registered users a great vocabulary saving feature. All you need to do to enjoy this feature is to make a free account with us and keep using the dictionary as usual. We will take care of the rest and create a personalized vocabulary notebook for you. You will then have access to your search history simply by logging in to your account from any device anywhere in the world.</div>
    <div class="my-4"><a href="/" target="_blank">Global Dictionary</a> also offers its registered users unlimited personalized vocabulary tests based on their own search history. Once you create an account and start using the dictionary, you build up your search history. You may then test your vocabulary knowledge as many times as you like with your own personalized tests and compare your test results to keep track of your progress.</div>
    <div class="my-4">Please send all questions, comments and feedback to us at <a href = "mailto: global.dict@gmail.com">global.dict@gmail.com</a>.</div>
</div>

<%- include("partials/footer") %>