<%- include("partials/header") %>

<div class="container my-5">
    <div class="row align-items-center home-upper">
        <div class="col-md-8 m-auto">
            <% messages.forEach(function(message){ %>
                <% if (typeof message === "object" && message.length) { %>
                    <p class="fade-out-items text-secondary mb-4 ml-2"><%= message %></p>
                <% } %>
            <% }) %>
            <form action="/index" method="GET" class="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control search-box typingahead pl-3 mb-2 home-input" autocomplete="off" name="query" aria-label="Search" placeholder="Search English" maxlength="100" required>
                    <span class="input-group-btn">
                        <button class="btn btn-light search-btn ml-2" type="submit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>