html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */          
}

.navbar-fixed-top {
    height: 50px;
}

.navbar-brand img {
    height: 50px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.fade-out-items {
    font-size: 17px;
}

.home-title {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 2.6rem;
}

.home-sec-title {
    font-family: 'Lato', sans-serif;
    font-size: 37.5px;
    font-weight: 700;
}

.notices {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.05rem;
}

.wrapper {
    height:auto;
    min-height:100%;
}

.breakAll {
    word-break: break-all;
}

.search-box {
    height: 50px;
    border-radius: 0.8rem;
}

.search-btn { 
    height: 50px;
    width: 52px;
    border-radius: 1rem;
}

.phonetics {
    font-size: 1.15rem;
    font-weight: normal;
}

.key {
    font-size: 1.25rem;
}

.about-icon {
    font-size: 1.40rem;
}

.buttonIcon {
    font-size: 0.8rem;
}


.footerFont {
    font-size: 0.85rem;
}

.footer-icon{
    color: white;
}

.footer-icon:hover{
    color: #CFDEF3;
}

.defIcon {
    vertical-align: top;
    margin-top: 2px;
}

.speaker {
    border: none;
    font-size: 1.1rem;
    background-color: #ecf0f1;
}

.speaker:focus{
    outline: none;
}

.toToggle{
    display: none;
}

.delete-history:hover{
    opacity: .5;
}

.shadow-effect {
    box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
    border-radius: 6px;
}

.main-background {
    background-color: #ecf0f1;
    padding: 14px;
}

.asterisk {
    vertical-align: sub;
}

.displayCenter {
    display: block;
}

.disInline{
    display: inline;
}

.input-group > .twitter-typeahead {
    flex: 1 1 auto;
    width: auto;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  
.tt-hint {
    color: #999
}
  
.tt-menu {
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
  
.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}
  
.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}
  
.tt-suggestion p {
    margin: 0;
}

#v-pills-searched p:nth-child(n+51) {
    display:none;
}

@media (min-width: 450px) and (max-width: 575px){
    .profile-title {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px){
    .home-title {
        font-size: 43px;
        font-weight: 900;
        line-height: 1.9rem;
    }

    .home-sec-title {
        font-size: 27px;
        font-weight: 700;
    }
    .home-upper {
        min-height: 80vh;
    }
    .navbar-fixed-top {
        height: 37px;
    }
    
    .navbar-brand img {
        height: 37px;
    }
}

@media (max-width: 359px){
    .home-input {
        max-width: 235px;
}}

@media (max-width: 325px){
    .home-input {
        max-width: 210px;
}}

@media (max-width: 316px){
    .home-input {
        max-width: 200px;
}}

@media (max-width: 301px){
    .home-input {
        max-width: 185px;
}}

@media (max-width: 291px){
    .home-input {
        max-width: 170px;
}}

@media (max-width: 286px){
    .home-input {
        max-width: 167px;
}}

@media (max-width: 281px){
    .home-input {
        max-width: 163px;
}}

@media (min-width: 576px) and (max-width: 767px){
    .home-title {
        font-size: 52px;
        font-weight: 900;
        line-height: 2.3rem;
    }

    .home-sec-title {
        font-size: 32.66px;
        font-weight: 700;
    }
    .home-upper {
        min-height: 80vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .home-title {
        font-size: 48px;
        font-weight: 900;
        line-height: 2.2rem;
    }

    .home-sec-title {
        font-size: 30.15px;
        font-weight: 700;
    }
    .home-upper {
        min-height: 65vh;
    }
}

@media (min-width: 992px){
    .home-upper {
        min-height: 50vh;
    }
    .navbar-fixed-top {
        height: 70px;
    }
    
    .navbar-brand img {
        height: 70px;
    }
}

/* To overwrite Bootstrap's default border-right issue. => */

input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}