html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    height:auto;
    min-height:100%;
}

.search-box {
    height: 50px;
    border-radius: 0.8rem;
}

.search-btn { 
    height: 50px;
    width: 52px;
    border-radius: 1rem;
}

.phonetics {
    font-size: 1.15rem;
    font-weight: normal;
}

.key {
    font-size: 1.25rem;
}

.buttonIcon {
    font-size: 0.8rem;
}

.speaker {
    border: none;
    background-color: white;
    font-size: 1.1rem;
}

.speaker:focus{
    outline: none;
}

.toToggle{
    display: none;
}

/* To overwrite Bootstrap's default border-right issue. => */

input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}